!!! 5
%html
  %head
    %title= yield(:title).empty? ? "TweetGab" : yield(:title)
    = stylesheet_link_tag 'screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'print.css', :media => 'print'
    /[if IE]
      = stylesheet_link_tag 'ie.css', :media => 'screen, projection'
    = stylesheet_link_tag 'tweetgab.css', :media => 'all'
    = csrf_meta_tag
    %script{:type => 'text/javascript', :src => 'https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.js'}
    %script{:type => 'text/javascript', :src => 'https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/jquery-ui.js'}
    = javascript_include_tag :tweetgab
    =yield(:head)
  %body
    #page-wrapper
      %header#page-header
        .content
          %h1
            tweetgab
      %section#page-body
        =content_for?(:content) ? yield(:content) : yield
        %br.clear
      %footer#page-footer
        .content
          a 
          %a{:href=>'http://startupweekend.org/'}<
            startup weekend
          project
    